body{
    background-image: url(background_CC.jpg);
    background-size: cover;
}

#tSquare{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1200px;
    margin: auto;
    border-radius: 5%;
    padding: 100px;
}

img{
    width: 250px;
    display: block;
    margin: auto;
}

header > div{
    color: limegreen;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

nav{
    background-color: limegreen;
    text-align: center;
    margin: auto;
    padding: 10px; 
}

main{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

section{
    margin-top: 15px;
}

section > span{
    font-size: 25px;
}

.bChargeM{
    background-color: orange;
    width: 25%;
    height: 25px;
    border-radius: 5%;
}

.bChargeC{
    background-color: green;
    width: 50%;
    height: 25px;
    border-radius: 5%;
}

.bChargeS{
    background-color: red;
    width: 10%;
    height: 25px;
    border-radius: 5%;
}